.paginate {
	margin-bottom: 86px;
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		cursor: pointer;
		background-color: #f3f3f3;
		margin: 0 10px;
		font-weight: 500;
		font-size: 14px;
		padding: 15px 18px;
		border-radius: 5px;
		color: rgba(0, 0, 0, 0.87);

		@media (max-width: 768px) {

			padding: 10px;
			margin: 0 6px;
		}

		@media (max-width: 425px) {
			font-size: 12px;
			padding: 9px;
			margin: 0 4px;
		}

		&:hover {
			background-color: #e4e2e2;
		}
	}
}

:global {
	.selected {
		a {
			color: cornflowerblue;
			font-weight: 800;
		}
	}
}