.paginate {
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		cursor: pointer;
		background-color: #f3f3f3;
		margin: 0 10px;
		font-weight: 600;
		padding: 15px 20px;
		border-radius: 5px;
		color: rgba(0, 0, 0, 0.87);
		@media (max-width: 560px) {
			font-size: 15px;
			padding: 12px;
			margin: 0 5px;
		}

		&:hover {
			background-color: #e4e2e2;
		}
	}

}

:global {
	.selected {
		a {
			color: cornflowerblue;
			font-weight: 800;
		}
	}
}