.button {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #fff;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 108px;
	height: 24px;
	cursor: pointer;

	&::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		background-image: url('../../assets/BackButton.svg');

		transition: all 200ms;
	}

	&:hover {
		&::before {
			width: 0px;
		}
	}
}